.btn {
  @apply font-bold cursor-pointer outline-none inline-flex items-center justify-center transition-all;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: white;
  transition: background-color 0.15s, box-shadow 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.4);
  }
}