@import "tailwindcss";

@layer utilities {

    .small {
        @apply px-4 py-2 text-sm;
    }

    .medium {
        @apply px-6 py-3 text-base;
    }

    .large {
        @apply px-9 py-4 text-lg;
    }
}

